Django>=5.0,<6.0
djangorestframework>=3.15
django-cors-headers>=4.3
python-dotenv>=1.0
psycopg[binary]>=3.1
gunicorn>=21.2
whitenoise>=6.6
django-filter 
django-phonenumber-field 
phonenumbers 
drf-yasg 
psycopg2-binary 
python-jose 
django-extensions 
gunicorn
PyJWT
qrcode
djangorestframework-simplejwt
Pillow
dj-database-url
django-import-export
requests
cloudinary 
django-cloudinary-storage
python-dateutil